<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Maximilian Voigt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/static/mavo.ico">
    {% if page.twitter_large_img %}
    <meta name="twitter:card" content="summary_large_image" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.teaser }}" />
    {% if page.twitter_large_img %}
    <meta name="twitter:image" content="https://{{site.url}}{{ page.twitter_large_img }}" />
    {% endif %}
    {% if page.twitter_img %}
    <meta name="twitter:image" content="https://{{site.url}}{{ page.twitter_img }}" />
    {% endif %}
    <link rel="stylesheet" href="/assets/main.css">
    {% seo %}

</head>
<body>
{% include header.liquid %}
{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
      {{#is_post}}
      <ul>
        {{#tags}}<li>{{.}} </li>{{/tags}}
      </ul>
      {{/is_post}}
    </article>
  {{/entries}}
</script>
{% endraw %}
<div class="page-wrap">
    <section id="search-results" style="display: none;"> </section>
    <div class="row">
        <section class="section first col-xs-24">
            <div class="content-wrap subpage">
                <div class="post-date">{{ page.date | date: '%d. %B %Y'  }}</div>
                <h1 class="section-headline">{{ page.title }}</h1>
                {% if page.author %}
                <div class="blue post-author">{{ page.author }}</div>
                {% endif %}
            </div>
            <!-- a fullwidth image -->
            {% if page.header_background %}
            {% include partials/content/content-fullwidth-image.liquid src=page.header_background caption=page.header_background_caption %}
            {% endif %}
            <div class="content-wrap subpage">
                <h1 class="section-headline"></h1>
            </div>
            <div class="content-wrap subpage">
                <div class="subpage-content">
                    {{ content }}
                </div>
            </div>
            {% if page.externalurl %}
                <p>Der Inhalt ist auf der externen Seite {{ page.target }} erschienen und wird hier nur verlinkt. Hier geht's zum Inhalt: <a href='{{ page.externalurl }}' target='_blank'>{{ page.externalurl }}</a><p>
            {% endif %}

        </section>
</div>
{% include footer.liquid %}
